.banner {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.21) 0%, 
    rgba(0, 0, 0, 0.25) 100%), linear-gradient(180deg, rgba(0, 0, 0, 0) 45%, 

    rgba(0, 0, 0, 0.75) 100%), url("../img/banner-image.png") 50%/cover no-repeat;
    display: flex;

    height: 190px;



}


/*Produtos*/

.viewAll {
    align-items: center;
    color: #2A7AE4;

    display: flex;
    font-size: 0.85rem;

    font-weight: 700;

    text-decoration: none;

}
.viewAll::after {
    content: url(../img/icones/seta-direita.svg);
    padding-left: 0.2rem

}

.productIMG {
    width: calc((100vw - 2.95rem)/2);  

}

.listProducts{
    display: flex;


    gap: 0.95rem;


    justify-content: space-between;
    flex-wrap: wrap;
}

.category_product{
    align-items: center;

    margin-bottom: 1rem;
    display: flex;

    justify-content: space-between;  

}

.productInfos {
    line-height: 1.35rem;
}

.productNames{
    font-weight: 500;

    font-size: 0.87rem;
}



.banner_info {
    align-items: flex-start;
    justify-content: flex-end;

    flex-direction: column;

    width: 100%;
    display: flex;

}



.banner_title {

    font-size: 1.37rem;
    color: #FFFFFF;
    margin-bottom: 0.98rem;
}


.productPrices {
    font-weight: 700;

}



.productsLink {
    color: #2A7AE4;

    text-decoration: none;
    font-size: 0.87rem;
    font-weight: 700;


}


.banner_title2 {
    color: #FFFFFF;
    
    font-weight: 600;
    margin-bottom: 0.98rem;
    
    font-size: 0.87rem;

}




@media screen and (min-width: 768px) {

    .banner_title2 {
        font-size: 1.37rem;
    }

    .banner {
        height: 348px;


    }

    .banner_title {
        font-size: 3.22rem;
    }

    .productIMG {
        width: 100%

    }

    .viewAll {
        font-size: 0.98rem;
    }

    .listProducts{
        flex-wrap: nowrap;


        justify-content: space-between;

        gap: 1rem;

    }

}

@media screen and (min-width: 1024px) {
    .banner {
        height: 388px;
    }
    
    .viewAll {
        font-size: 0.97rem;
    }

    .listProducts{
        justify-content: space-between;

        gap: 1rem;

    }
    .productIMG {
        width: 100%
    }

}